/* header.css */
#wrap {
  width: 100%;
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transition: .1s;
}

header.on {
  background-color: #fff !important;
}

/* header_top */
.header_top {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 2.5rem;
}

.header_top ul {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.25rem 0;
}

.header_top ul li {
  display: flex;
  align-items: center;
}

.header_top ul li:first-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
}

.header_top ul li a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  letter-spacing: -0.05rem;
}

.header_top ul li a span {
  color: #1b1b1b;
}

/* header_container */
header .header_container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  transition: .5s;
}

header .header_container.on {
  overflow: visible;
}

.header_container .header_section {
  width: 100%;
  height: 120px;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid transparent;
  transition: .3s;
}

/* logo */
.header_sec01 {
  height: 100%;
  display: flex;
  align-items: center;
}

.header_sec01 a {
  display: block;
  width: fit-content;
  height: fit-content;
}

/* header menu */
.header_sec02 {
  height: 100%;
}

.header_sec02 .gnb01 {
  height: 100%;
}

.header_sec02 .gnb01 .depth01 {
  height: 100%;
  display: flex;
}

.header_sec02 .gnb01 .depth01 > li {
  height: 100%;
  position: relative;
  padding: 0 2rem;
}

.header_sec02 .gnb01 .depth01 > li > a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  align-content: center;
  font-size: clamp(1rem, 1vw, 1.2rem);
  transition: .3s;
}

.header_sec02 .gnb01 .depth01 > li:hover > a {
  color: #E72F28;
}

.header_sec02 .gnb01 .depth01 > li > a.on {
  color: #E72F28;
}

.header_sec02 .gnb01 .depth01 > li:hover > a::before {
  content: '';
  display: inline-block;
  width: 0.35rem;
  height: 0.35rem;
  background-color: #E72F28;
  border-radius: 100%;
  position: absolute;
  right: -0.5rem;
}

.header_sec02 .gnb01 .depth01 > li:hover > a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #E72F28;
  border-radius: 30px;
  position: absolute;
  bottom: -2px;
}

.header_sec02 .gnb01 .depth01 > li > .depth02 {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 100%;
  display: none;
  padding-top: 1rem;
}

.header_sec02:hover .gnb01 .depth01 > li > .depth02 {
  display: block;
}

.header_sec02 .gnb01 .depth01 > li > .depth02 > li {
  width: 100%;
  padding: 0.5rem 0;
  opacity: 0;
  transition: .8s;
}

.header_sec02 .gnb01 .depth01 > li > .depth02 > li > a {
  font-size: 1rem;
  transition: .3s;
  word-break: keep-all;
}

.header_sec02 .gnb01 .depth01 > li > .depth02 > li:hover > a {
  color: #E72F28;
}

.header_sec02 .gnb01 .depth01 > li > .depth02 > li > a.on {
  color: #E72F28;
}

/* lang */
.header_sec03 {
  height: 100%;
}

.header_sec03 .right {
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header_sec03 .right .lang {
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  align-content: center;
  position: relative;
}

.header_sec03 .right .lang p {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.header_sec03 .right .lang ul {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: calc(50% + 1rem);
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: .5s;
}

.header_sec03 .right .lang ul.on {
  height: 64px;
}

.header_sec03 .right .lang ul li {
  padding: 0.25rem 1rem;
}

.header_sec03 .right .lang ul li:first-child {
  padding-bottom: 0;
}

/* hamberger */
.header_sec03 .right .hamberger {
  width: 24px;
  height: 20px;
  cursor: pointer;
  transition: .3s;
}

.header_sec03 .right .hamberger a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_sec03 .right .hamberger a span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1b1b1b;
  border-radius: 30px;
  transition: .5s;
}

.header_sec03 .right .hamberger a.on span:first-child {
  transform: translateY(9px) rotate(-45deg) ;
}

.header_sec03 .right .hamberger a.on span:nth-child(2) {
  opacity: 0;
}

.header_sec03 .right .hamberger a.on span:last-child {
  transform: translateY(-9px) rotate(45deg);
}

/* hamberger menu */
nav.hamberger_menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  z-index: 9997;
}

.black_bg {
  width: 100%;
  height: 100%;
  background-image: url(../img/layout/pc_ham_bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.ham_container {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: .8s;
}

.ham_sec01, .ham_sec03 {
  display: none;
}

.ham_sec02 {
  width: 100%;
  height: fit-content;
  align-content: center;
}

.ham_sec02 .depth01 {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
  margin: 0 2.5rem;
  padding: 0 2.5rem;
  transition: .5s;
}

.ham_sec02 .depth01 > li {
  padding: 3rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  border: 1px solid #e0dfe299;
  border-radius: 20px;
  transition: .5s;
}

.ham_sec02 .depth01 > li:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}

.ham_sec02 .depth01 > li.on {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}

.ham_sec02 .depth01 > li > a {
  font-size: clamp(1.5rem, 1vw, 2.5rem);
  font-family: "Binggrae-Bold";
  transition: .5s;
}

.ham_sec02 .depth01 > li:hover > a {
  color: #E72F28;
}

.ham_sec02 .depth01 > li > a.on {
  color: #E72F28;
}

.ham_sec02 .depth01 > li .depth02 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ham_sec02 .depth01 > li .depth02 > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}

.ham_sec02 .depth01 > li .depth02 > li a {
  font-size: clamp(1rem, 1vw, 1.2rem);
  transition: .3s;
}

.ham_sec02 .depth01 > li .depth02 > li figure {
  display: none;
}

.ham_sec02 .depth01 > li .depth02 > li:hover a {
  color: #E72F28;
}

.ham_sec02 .depth01 > li .depth02 > li a.on {
  color: #E72F28;
}

.ham_sec02 .depth01 > li .depth02 > li:hover figure {
  display: block;
}

/* top bottom btn */
aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 9997;
}

aside .chat {
  display: flex;
  gap: 1rem;
  align-items: center;
}

aside .chat .text_box {
  padding: 0.5rem 1.5rem;
  order: -1;
  background-color: #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: none;
}

aside .chat .text_box p {
  font-size: 0.9rem;
  font-weight: 600;
}

aside > a {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #fff;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

aside > a.shop {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

aside > a.top {
  background-color: #000;
}

aside > a.top img {
  margin: auto;
  transform: rotate(180deg);
}

aside > .chat > .help img {
  animation-name: help;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

aside .chat .help:hover img {
  animation-play-state: paused;
}

@keyframes help {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0.3rem);
  }
}

/* chat box */

.chat_box {
  width: 400px;
  height: 660px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 6rem;
  right: 8rem;
  z-index: 9999;
  display: none;
}

.chat_box.open {
  display: block;
}

.chat_box .chat_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat_box .chat_inner .chat_sec01 {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat_box .chat_inner .chat_sec01 h4 {
  flex: 1;
  font-size: 1.1rem;
  text-align: center;
}

.chat_box .chat_inner .chat_sec01 figure {
  width: 16px;
  cursor: pointer;
}

.chat_box .chat_inner .chat_sec01 figure img {
  transition: .3s;
}

.chat_box .chat_inner .chat_sec01 figure:hover img {
  transform: scale(1.2);
}

.chat_box .chat_inner .chat_sec02 {
  width: 100%;
}

.chat_box .chat_inner .chat_sec02 .menu {
  width: 100%;
  height: 50px;
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.chat_box .chat_inner .chat_sec02 .menu .title {
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: .3s;
  z-index: 9997;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap p {
  width: 100%;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap ul li {
  height: 50px;
  align-content: center;
  border-bottom: 1px solid #cfcfcf;
  font-weight: 600;
  font-size: 1.1rem;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap ul li:is(:nth-child(9), :nth-child(10)) {
  border: none;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  cursor: pointer;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap button p {
  color: black !important; /* 사파리 p 태그 */
  -webkit-appearance: none;
  appearance: none;
  font-size: 0.8rem;
}

.chat_box .chat_inner .chat_sec02 .menu .menu_container .menu_wrap button img {
  width: 9px;
}

.chat_box .chat_inner .chat_sec03 {
  width: 100%;
  padding: 1.5rem;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat_box .chat_inner .chat_sec03::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #000;
}

.chat_box .chat_inner .chat_sec03::-webkit-scrollbar-track {
  background: #fff;
}

.chat_box .chat_inner .chat_sec03::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 30px;
}

.chat_box .chat_inner .chat_sec03 .binggrae {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.chat_box .chat_inner .chat_sec03 .binggrae figure {
  width: 64px;
  position: relative;
}

.chat_box .chat_inner .chat_sec03 .binggrae figure::after {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #E72F28;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat_box .chat_inner .chat_sec03 .binggrae h3 {
  font-family: "binggrae-Bold";
  font-size: 1.8rem;
}

.chat_box .chat_inner .chat_sec03 .contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4rem;
}

.chat_box .chat_inner .chat_sec03 .contents > div {
  width: 90%;
  background-color: #F9F9F9;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: inset 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
}

.chat_box .chat_inner .chat_sec03 .contents > div p {
  font-size: 0.9rem;
  letter-spacing: -0.1rem;
  line-height: 1.5;
}

.chat_box .chat_inner .chat_sec03 .contents > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.chat_box .chat_inner .chat_sec03 .contents > ul li {
  padding: 0.5rem 1rem;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #888;
  transition: .3s;
}

.chat_box .chat_inner .chat_sec03 .contents > ul li:hover {
  border: 1px solid #E72F28;
  color: #E72F28;
}

.chat_box .chat_inner .chat_sec04 {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.chat_box .chat_inner .chat_sec04 .home {
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
}