/* main.css */
.front_container main .main_container .section_01 {
  width: 100%;
  background-image: url(../img/main/pc_section01_2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 11rem 2.5rem;
}

main .main_container .section_01 .logo_box {
  width: fit-content;
  height: fit-content;
}

main .main_container .section_01 .logo_box img {
  margin: auto;
}

main .main_container .section_01 .search {
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
}

main .main_container .section_01 .search .search_bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

main .main_container .section_01 .search .search_bar input {
  height: 60px;
  flex: 1;
  border: none;
  font-size: 1rem;
  outline: none;
}

main .main_container .section_01 .search button {
  height: 55px;
  padding: 0 4rem;
  background-color: #E73229;
  border-radius: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
}

main .main_container .section_01 .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

main .main_container .section_01 .item li {
  font-family: 'Binggrae';
}

main .main_container .section_01 .item li a {
  display: block;
  border: 1px solid #EDECEF;
  border-radius: 30px;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
}