/* responsive.css */
.mo {
  display: none;
}

@media screen and (max-width: 1563px) {
  /* header */
  .ham_sec02 .depth01 > li {
    padding: 1.5rem 1rem;
  }

  .ham_sec02 .depth01 > li > a {
    font-size: clamp(1.2rem, 1vw, 1.5rem);
  }

  .ham_sec02 .depth01 > li .depth02 > li a {
    font-size: clamp(0.9rem, 1vw, 1rem);
  }

  /* main */
  main .main_container .section_01 .search {
    width: 80%;
  }
}

@media screen and (max-width: 1190px) {
  /* header */
  .header_sec02 .gnb01 .depth01 > li {
    padding: 0 1rem;
  }

  .header_sec02 .gnb01 .depth01 > li > .depth02 > li > a {
    font-size: 0.9rem;
  }

  .ham_sec02 .depth01 > li {
    padding: 1.5rem 1rem;
  }

  .ham_sec02 .depth01 > li > a {
    font-size: 1.1rem;
  }

  .ham_sec02 .depth01 > li .depth02 > li a {
    font-size: 0.8rem;
  }

  /* main section 02 */
  main .main_container .section_02 .slider .swiper {
    width: 100%;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide .hover .content p {
    font-size: 0.8rem;
  }

  /* main section 03 */
  main .main_container .section_03 .contents_box .qna .qna_list {
    grid-template-columns: repeat(1, 1fr);
  }

  main .main_container .section_03 .contents_box .qna .qna_title {
    gap: 1rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li {
    border-radius: 20px;
    box-shadow: inset 0 0.25rem 1rem rgba(0, 0, 0, 0.08);
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  main .main_container .section_03 .contents_box .qna .qna_title button {
    width: 140px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .web {
    display: none !important;
  }

  .mo {
    display: block;
  }

  /* header */
  .header_top {
    display: none;
  }

  .header_container {
    height: 100px !important;
  }

  .header_container .header_section {
    height: 100px;
    padding: 0 1rem;
  }

  .header_sec01 a {
    width: 144px;
    height: 35px;
  }

  .header_sec02 {
    display: none;
  }

  .header_sec03 .right .lang {
    font-size: 1.1rem;
  }

  /* hamberger menu */
  nav.hamberger_menu {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .ham_container {
    width: 55%;
    height: 100%;
    top: 0;
    right: 0;
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-start-start-radius: 40px;
  }

  .ham_sec01, .ham_sec03 {
    display: block;
  }

  .ham_sec01 .sec01_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #ccc;
  }

  .ham_sec01 .sec01_container ul {
    display: flex;
    gap: 1rem;
  }

  .ham_sec01 .sec01_container ul li {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0.25rem 1rem;
  }

  .ham_sec01 .sec01_container ul li a {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    color: #1f1f1f;
    font-weight: 500;
    letter-spacing: -0.1rem;
  }

  .ham_sec01 .sec01_container button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .ham_sec02::-webkit-scrollbar {
    width: 0;
  }

  .ham_sec02 {
    align-content: flex-start;
    flex: 1;
    overflow: scroll;
  }

  .ham_sec02 .depth01 {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .ham_sec02 .depth01 > li {
    padding: 0;
    flex: 1;
    gap: 0;
    border: none;
    border-radius: 0;
    transition: .5s;
  }
  
  .ham_sec02 .depth01 > li:hover {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .ham_sec02 .depth01 > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    transition: 0;
  }

  .ham_sec02 .depth01 > li > a img {
    width: 12px;
  }

  .ham_sec02 .depth01 > li > a img.on {
    transform: rotate(180deg);
  }
  
  .ham_sec02 .depth01 > li:hover > a {
    color: inherit;
  }
  
  .ham_sec02 .depth01 > li .depth02 {
    height: 0;
    overflow: hidden;
    gap: 0;
    transition: .5s;
  }
  
  .ham_sec02 .depth01 > li .depth02 > li {
    height: 50px;
    padding: 0 2rem;
    background-color: #F7F7F7;
  }

  .ham_sec02 .depth01 > li .depth02 > li a {
    font-size: 1.2rem !important;
    color: #8a8a8a;
    position: relative;
  }

  .ham_sec02 .depth01 > li .depth02 > li a::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #E72F28;
    position: absolute;
    top: 0;
    opacity: 0;
    margin-left: .25rem;
    transition: 1s;
  }

  .ham_sec02 .depth01 > li .depth02 > li a.on::after {
    opacity: 1;
  }

  .ham_sec02 .depth01 > li:nth-child(2) .depth02 > li:not(:first-child) a::after {
    background-color: transparent !important;
  }
  
  .ham_sec02 .depth01 > li .depth02 > li figure {
    display: none;
  }
  
  .ham_sec02 .depth01 > li .depth02 > li:hover a {
    color: #E72F28;
  }

  .ham_sec02 .depth01 > li .depth02 > li:hover a::after {
    opacity: 1;
  }
  
  .ham_sec02 .depth01 > li .depth02 > li:hover figure {
    display: none;
  }

  .ham_sec03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
  }

  .ham_sec03 .lang_2 {
    display: flex;
    gap: 1rem;
  }

  .ham_sec03 .lang_2 li {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1f1f1f4d;
  }

  .ham_sec03 .lang_2 li.on {
    color: #1f1f1f;
  }

  .ham_sec03 .lang_2 li.on::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #1f1f1f4d;
    margin-left: 1rem;
  }

  .ham_sec03 > a {
    font-size: 1.1rem;
    color: #1f1f1f;
    letter-spacing: -0.1rem;
  }

  /* top bottom btn */
  aside {
    bottom: 1rem;
    right: 1rem;
  }

  /* main */
  .front_container main .main_container .section_01 {
    padding: 12rem 1rem;
    padding-bottom: 2rem;
  }

  main .main_container .section_01 .logo_box img {
    width: 650px;
  }

  main .main_container .section_01 .search {
    height: 70px;
  }

  main .main_container .section_01 .search .search_bar input {
    height: 50px;
  }

  main .main_container .section_01 .search button {
    height: 45px;
  }

  /* section 02 */
  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide > img {
    width: 100%;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide .hover .content {
    gap: 1rem;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide .hover .content img {
    width: 40%;
  }

  /* main section 03 */
  main .main_container .section_03 {
    padding: 3rem 1rem;
  }

  main .main_container .section_03 .contents_box .counsel > div {
    height: 246px;
    padding: 2rem;
  }

  main .main_container .section_03 .contents_box .counsel > div h4 {
    font-size: 2rem;
  }

  main .main_container .section_03 .contents_box .counsel .email {
    background-image: url(../img/main/m_sec04_backimg01.png);
  }

  main .main_container .section_03 .contents_box .counsel .email p {
    margin-top: 0;
  }

  main .main_container .section_03 .contents_box .counsel .tel {
    background-image: url(../img/main/m_sec04_backimg02.png);
    gap: 0.5rem;
  }

  main .main_container .section_03 .contents_box .counsel .tel .phone {
    font-size: 2.3rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_title h4 {
    font-size: 1.3rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li {
    height: 60px;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a figure {
    margin-right: 16px;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

  main .main_container .section_03 .contents_box .qna .qna_list li:hover a figure {
    width: 32px;
    height: 32px;
    margin-right: 0;
  }

  /* main section 04 */
  main .main_container .section_04 {
    padding: 6rem 1rem;
  }

  main .main_container .section_04 .allbox .box {
    justify-content: center;
    gap: 1.5rem;
    padding: 3.8rem 2rem;
  }

  /* footer */ 
  footer {
    height: 50vh;
    padding: 2.5rem 1rem;
  }

  footer .sns {
    padding-bottom: 6rem;
  }

  footer .sns .sns_site ul {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 769px) {
  /* header */
  header .header_container {
    height: 80px !important;
  }

  .header_container .header_section {
    height: 80px;
  }

  .header_sec01 a {
    width: 120px;
    height: 30px;
  }

  .header_sec03 .right .hamberger {
    width: 20px;
    height: 16px;
  }

  .ham_container {
    width: 90%;
    border-start-start-radius: 20px;
  }

  .ham_sec01 .sec01_container button {
    width: 16px;
    height: 16px;
  }

  /* top btn */
  aside .chat {
    margin-bottom: 1rem;
  }

  aside .chat a {
    width: 48px;
    height: 48px;
  }

  aside > a {
    width: 48px;
    height: 48px;
  }

  aside > a.shop {
    font-size: 0.8rem
  }

  /* chat box */
  .chat_box {
    width: 100%;
    height: 100vh;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }

  /* main */
  .front_container main .main_container .section_01 {
    padding: 10rem 1rem;
    padding-bottom: 2rem;
  }

  main .main_container .section_01 .logo_box img {
    width: 100%;
  }

  main .main_container .section_01 .search {
    width: 70%;
    height: 50px;
  }

  main .main_container .section_01 .search .search_bar input {
    height: 30px;
    font-size: 0.9rem;
  }

  main .main_container .section_01 .search button {
    height: 30px;
    padding: 0 2rem;
    font-size: 0.8rem;
  }

  main .main_container .section_01 .item li a {
    font-size: 0.7rem;
  }

  /* section 02 */
  main .main_container .section h2 {
    font-size: 1.8rem;
  }

  main .main_container .section_02 {
    gap: 4rem;
  }

  main .main_container .section_02 .slider::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #F1F1F1;
  }

  main .main_container .section_02 .slider .swiper {
    padding: 0 1rem;
    padding-bottom: 4rem;
  }

  main .main_container .section_02 .slider .swiper :is(.swiper-button-prev, .swiper-button-next) {
    display: none;
  }

  main .main_container .section_02 .slider .swiper .swiper-pagination {
    display: block;
    bottom: 2.5rem;
  }

  main .main_container .section_02 .slider .swiper .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    margin: 0 0.5rem !important;
  }

  /* silde 01 */
  main .main_container .section_02 .slider .swiper .swiper-wrapper .swiper-slide:hover {
    transform: translateY(0);
  }

  main .main_container .section_02 .sec02_slider_01 .swiper .swiper-wrapper .swiper-slide a span {
    display: none;
  }

  /* slide 02 */
  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide {
    cursor: pointer;
    padding: 0;
  }

  main .main_container .section_02 .slider .swiper .swiper-wrapper .swiper-slide .wrap {
    height: 200px;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide .wrap:hover {
    box-shadow: none;
  }

  main .main_container .section_02 .slider .swiper_02 .swiper-wrapper .swiper-slide .wrap .hover {
    display: none;
  }

  /* main section 03 */
  main .main_container .section_03 .contents_box {
    padding: 2rem;
  }
  
  main .main_container .section_03 .contents_box .counsel {
    flex-direction: column;
  }

  main .main_container .section_03 .contents_box .counsel > div {
    height: 140px;
  }

  main .main_container .section_03 .contents_box .counsel > div h4 {
    font-size: 1.4rem;
  }

  main .main_container .section_03 .contents_box .counsel .email {
    justify-content: flex-start;
    gap: 1rem;
  }

  main .main_container .section_03 .contents_box .counsel .email p span {
    display: none;
  }

  main .main_container .section_03 .contents_box .counsel .email a {
    display: none;
  }

  main .main_container .section_03 .contents_box .counsel .tel .phone {
    font-size: 1.4rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_title h4 {
    font-size: 1.2rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a {
    gap: 1rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a figure {
    width: 24px;
    height: 24px;
    margin-right: 0;
    background-color: transparent;
    box-shadow: none;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li:hover a figure {
    width: 24px;
    height: 24px;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a figure img.webTab {
    display: none;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li a figure img.mobile {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  /* main section 04 */
  main .main_container .section_04 .allbox {
    flex-direction: column;
  }

  /* footer */
  footer {
    gap: 3rem;
  }

  footer .logo {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  footer .logo ul {
    order: -1;
  }

  footer .text {
    align-items: center;
  }

  footer .text p {
    font-size: 1rem;
    line-height: 1.2;
  }

  footer .sns {
    flex: 1;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 0;
  }

  footer .sns .copyright {
    width: 100%;
  }

  footer .sns .copyright nav {
    display: block;
  }

  footer .sns .sns_site {
    order: -1;
  }

  footer .sns .sns_site ul {
    gap: 1.5rem;
    padding-right: 0;
  }

  footer .sns .sns_site ul li {
    width: 48px;
    height: 48px;
  }

  footer .sns .sns_site ul li a img {
    width: 16px;
  }

  footer .sns .sns_site ul li:last-child a img {
    width: 24px;
  }
}

@media screen and (max-width: 550px) {
  main .main_container .section_01 .search {
    width: 90%;
    min-width: 300px;
    height: 40px;
  }

  main .main_container .section_01 .search .search_bar {
    padding: 0;
  }

  main .main_container .section_01 .search button {
    padding: 0 1rem;
  }

  /* main section 02 */
  main .main_container .section_02 {
    padding: 4rem 0;
  }

  main .main_container .section h2 {
    font-size: 1.5rem;
  }

  /* main section 03 */
  main .main_container .section_03 .contents_box .counsel > div {
    padding: 1.5rem;
  }

  main .main_container .section_03 .contents_box .counsel > div h4 {
    font-size: 1.2rem;
  }

  main .main_container .section_03 .contents_box .counsel .tel .phone {
    font-size: 1.2rem;
  }

  main .main_container .section_03 .contents_box .qna .qna_list li {
    height: 50px;
    border-radius: 16px;
  }

  /* footer */
  footer .text p {
    font-size: 0.9rem;
    text-align: center;
  }

  footer .sns .copyright {
    flex-direction: column;
    gap: 1rem;
  }

  footer .sns .copyright p {
    text-align: center;
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 360px) {
  /* main section 03 */
  main .main_container .section_03 .contents_box {
    padding: 1rem;
  }
}